body {
    font-family: 'Ysabeau Infant', serif;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(#43b0f6,#fff);
}

main{
    width: 800px;
    margin: 60px auto 0;
    border: 1px solid #8FBFDF;
    padding: 30px;
    box-shadow: 0px 0px 12px 2px #43B0F6;
    border-radius: 24px;
}


.current-weather{
    text-align: center;
}

.current-weather .city-name{
    font-size: 1.5rem;
}


.current-weather .current-temp-section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.current-weather .current-temp {
    font-size: 2.5rem;
}

.current-weather .current-temp-desc{

    text-transform: capitalize;
}

.current-weather .min-max-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.forecast-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 75px;
}

.forecast-weather .forecast-card {
    border: 1px solid #589ecd;
    box-shadow: 0px 0px 12px 2px #43b0f6;
    border-radius: 24px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.forecast-weather .forecast-card .forecast-desc {

    text-transform: capitalize;
}